[2020-10-27 12:20] Vyvy-vi opened #2 "[FEAT]: Update the Help command to include the present commands"

[2020-10-27 12:21] Vyvy-vi opened #3 "[DOCS]: Update README.md and give a better description"

[2020-10-27 12:22] Vyvy-vi opened #4 "[CHORE]: Add env-variable for mongodb"

[2020-10-27 12:25] Vyvy-vi opened #5 "[FEAT]: Add quote command"

[2020-10-27 12:27] Vyvy-vi opened #6 "[FIX]: Make automeme command work for multiple instances"
The present one uses a task loop
This restricts it to just one channel of one server.

[2020-10-27 12:30] Vyvy-vi opened #7 "[CHORE]: Make Actions for build Checks and automate repo"

[2020-10-27 12:30] Vyvy-vi opened #8 "[FEAT]: Make currency spending system(Casino)"

[2020-10-27 12:39] Vyvy-vi opened #9 "[FEAT]: Advanced help with argument passing"

[2020-10-27 12:41] Vyvy-vi opened #10 "[CHORE]: Modularise Bot"
*This issue is currently not available. Will be executed sometime later.

[2020-10-27 13:02] Vyvy-vi opened #11 "[DOCS]: Make proper documentation"
Make a file called Docs.md and make extended documentation of all the commands, configs, usage cases(building upon the comments in the code)

[2020-10-27 13:04] Vyvy-vi opened #12 "[FEAT]: extend to voice commands"
*This issue is not accepting direct prs rn.
This will be taken in build2.0
Host a discussion, if you're very very interested.

[2020-10-27 13:10] Vyvy-vi opened #13 "[FEAT]: Update CONTRIBUTING.md"
up-for-grabs
preferably something that emphasis no-SPAM and usage of [Commit Guidelines](https://www.conventionalcommits.org/en/v1.0.0/)

[2020-10-27 13:13] Vyvy-vi opened #14 "[FEAT]: Make some more fun commands."
NOTE- before PR or asking to be assigned, make a new issue for adding that command with command name as the title and some description about it. Don't forget to reference this issue in there.

[2020-10-27 13:18] Vyvy-vi opened #15 "[FEAT]: Test code and update dependency column in README"
Good first issue.
Try reproducing this bot locally and list out any issues that you had.
Moreover, when download dependencies, please update the requirement.txt and README.md with the version numbers of all the libraries.

[2020-10-28 04:05] Vyvy-vi opened #16 "[FEAT]: Make Time Fetch Command"
Make a command to fetch the current time, it must allow user to select the timezone.
Like, qq time <UTC+3> or qq time <EST>

[2020-10-28 04:07] Vyvy-vi commented on #16
Another beta+ idea is to add a field in the current db for setting your timezone.
This will allow user to just do qq time

[2020-10-29 07:37] Vyvy-vi opened #17 "[BUG]: The status command becomes null after some time."
It just shows _Playing with_, nothing else

[2020-10-29 07:39] Vyvy-vi opened #18 "[FEAT]: Add termination command for automeme"
The automeme command needs to be terminate-able.

[2020-10-29 18:22] Vyvy-vi commented on #4
close #19

[2020-10-29 18:23] #4 closed

[2020-10-29 19:17] mikeysan commented on #10
I was about to open an issue to suggest this :) I'm guessing you're thinking of Cogs?

[2020-10-29 21:14] Vyvy-vi commented on #10
yeah cogs...
This should be high priority

[2020-10-30 05:03] Vyvy-vi opened #23 "[BUG]: wiki command issues"
The bot's wiki commands sometimes yields unicode chars(*my terminology might be wrong here) and those look weird in the command. For now, try removing those characters by string manipulation
![Screenshot 2020-10-30 at 10 34 10 AM](https://user-images.githubusercontent.com/62864373/97661839-77608780-1a9b-11eb-9448-256248fcdb26.png)

[2020-10-30 05:20] Vyvy-vi opened #24 "[FIX]: add .gitignore"
...

[2020-10-30 05:31] #24 closed

[2020-10-30 07:07] Vyvy-vi opened #27 "[FEAT]: Add credit transfer command"
...

[2020-10-30 13:46] Vyvy-vi commented on #27
close #28

[2020-10-30 13:46] #27 closed

[2020-10-31 13:21] anubhavcodes commented on #23
@Vyvy-vi

From discord. I will take this up. :)

[2020-10-31 13:58] gamerrio commented on #23
ok fixed will push changes in few secs

[2020-10-31 14:04] Vyvy-vi commented on #23
um @anubhavcodes  This issue just got fixed in #33
Sorry...
If you want to still work on good issues, maybe you can build the help command

[2020-10-31 14:10] gamerrio opened #36 "not all commands working in help menu"
not all commands work in help command. It will be better to use default command help command and editing it to make it look fancy

[2020-10-31 14:11] anubhavcodes commented on #13
@Vyvy-vi Let me take this up. ;)

[2020-10-31 15:33] Vyvy-vi commented on #36
checkout #34

[2020-10-31 15:47] #23 closed

[2020-10-31 17:41] Vyvy-vi commented on #13
Thanks!

[2020-10-31 17:41] #13 closed

[2020-10-31 20:24] Vyvy-vi commented on #36
@all-contributors add @gamerrio ideas

[2020-10-31 20:35] Vyvy-vi commented on #27
@all-contributors add @Vyvy-vi for code, project management

[2020-10-31 20:36] Vyvy-vi opened #47 "[CHORE]: Add all-contributors"
: )

[2020-10-31 20:43] Vyvy-vi commented on #47
@all-contributors add @AllanRegush ideas

[2020-10-31 21:03] Vyvy-vi commented on #47
@all-contributors add @RascalTwo bug

[2020-10-31 21:05] Vyvy-vi commented on #10
@all-contributors add @mikeysan for ideas

[2020-10-31 21:11] gamerrio commented on #36
I'll take this task

[2020-11-01 09:21] Vyvy-vi commented on #47
@all-contributors add @Vyvy-vi design doc maintenance review

[2020-11-01 09:23] #36 closed

[2020-11-01 09:23] Vyvy-vi commented on #36
LGTM!

[2020-11-01 09:23] Vyvy-vi commented on #36
@all-contributors add @gamerrio code

[2020-11-01 09:24] Vyvy-vi commented on #36
@all-contributors add @gamerrio design

[2020-11-01 09:44] gamerrio commented on #17
working on this one

[2020-11-01 10:37] Vyvy-vi commented on #17
fixed

[2020-11-01 10:46] gamerrio commented on #9
working on it now

[2020-11-01 10:48] Vyvy-vi commented on #2
closed by #56

[2020-11-01 10:48] #2 closed

[2020-11-01 10:57] Vyvy-vi commented on #47
@all-contributors add @all-contributors docs

[2020-11-01 11:18] gamerrio opened #63 "[suggestion] : A command which tell about user's account"
command which can tell more info about user like when he joined the guild , when he created account discord and much more

[2020-11-01 11:20] gamerrio opened #64 "[suggestion ] : A slap command command which virtually slap another person"
A slap command which some cool and fun gif list

[2020-11-01 11:38] Vyvy-vi commented on #9
👍

[2020-11-01 11:38] #9 closed

[2020-11-01 11:40] Vyvy-vi opened #67 "[CHORE]: fix embeds"
embed commands

[2020-11-01 11:44] #63 closed

[2020-11-01 11:59] anubhavcodes opened #71 "Dockerize the app for easy development."
At them moment, we have some configuration hardcoded in the app, which is not so good practise IMO.

If we can dockerize the application we can have the benefits of:

- Having an image that have all the dependencies of the app baked in and ready to be deployed in a container running inside docker.
- Use `docker-compose` to run `docker-compose up` on dev machine which spins up the app in a containe

[2020-11-01 12:03] Vyvy-vi commented on #71
Good issue!
I was just looking into docker images and how dockerising bots makes it more efficient(something to do with uptime I think).
Would be great if you help out.
I have currently labeled this under v1.1 as in v1.0, I plan on finishing commands and then move to cogs in 1.1, where we can also pick up docker-containers. You could help with this in the meantime tho
👍 :

[2020-11-01 12:06] Vyvy-vi commented on #71
@all-contributors add @anubhavcodes for ideas

[2020-11-01 12:33] sayand0122 commented on #67
Do you mean all the embeds present in the code?

[2020-11-01 12:35] sayand0122 commented on #64
Is this issue solved?

[2020-11-01 14:01] Vyvy-vi commented on #67
I mean the embeds in the entertainment commands below async def magiball():

https://github.com/Vyvy-vi/TearDrops/blob/89a2948d6cf0e47caac9349d93ae5b1da75053f9/bot/main.py#L582

[2020-11-01 14:08] Vyvy-vi commented on #64
@gamerrio is assigned to it

[2020-11-01 15:29] sayand0122 commented on #67
I am already on it

[2020-11-01 15:30] sayand0122 commented on #64
ok

[2020-11-02 04:11] RascalTwo commented on #6
Hey, I can do this - could also do #18 in the same PR if that's acceptable.

[2020-11-02 04:12] RascalTwo commented on #18
Hey I can do this, do you have any preference for the command name? `automeme_cancel`, `automeme_terminate`, etc?

[2020-11-02 05:37] Vyvy-vi commented on #67
will take some time for reviewing anubhav's Pr #76
You can make the pr for the embeds now 👍

[2020-11-02 05:39] Vyvy-vi commented on #47
@all-contributors add @sayand0122 for ideas

[2020-11-02 05:42] Vyvy-vi commented on #18
👍
 you can name it anything (we can always add aliases so no issues)

[2020-11-02 05:43] Vyvy-vi commented on #6
yes, no problem
killing 2 issues with 1 pr 🚀

[2020-11-02 05:59] Vyvy-vi commented on #5
closed by #34

[2020-11-02 05:59] #5 closed

[2020-11-02 06:04] Vyvy-vi opened #78 "[CHORE]: Make project Board"
Would make simpler planning and organisation.
connected with issue #7

[2020-11-02 07:02] mukundtheamateur opened #80 "How to use ?"
How to use this bot ? What are the commands ?

[2020-11-02 07:12] #78 closed

[2020-11-02 07:37] Vyvy-vi commented on #80
hi @mukundtheamateur
You want to use the bot in your server or you want to run this bot locally?

[2020-11-02 07:39] Vyvy-vi commented on #80
The bot prefix is `qq`
And you can get a full list of commands by doing `qq help`

[2020-11-02 07:40] mukundtheamateur commented on #80
On my server

[2020-11-02 07:40] #80 closed

[2020-11-02 07:42] Vyvy-vi commented on #80
you can find the invite link in the README
However, we highly suggest that you do not activate this in large servers as this project is still in development and might have some unintentional consequences.

[2020-11-02 08:34] #6 closed

[2020-11-02 08:34] #18 closed

[2020-11-02 08:35] Vyvy-vi commented on #14
#64 is part of this

[2020-11-02 08:57] #67 closed

[2020-11-02 09:11] sayand0122 commented on #8
Lets now do this... Any ideas on like what exactly you thought when you wrote casino?

[2020-11-02 09:17] Vyvy-vi commented on #8
Yah, I am working on this rn.
We should pool ideas for this first, before making commands.
Let's discuss on the main concerns regarding the economy system:

- users need to spend token('tears') on stuff
- this spend can be promoted by having a store and having a casino

- casino might be just a set of command like the pre-existing diceroll command, attatched to a money prize
- we can think of some

[2020-11-02 09:18] Vyvy-vi commented on #8
About the store, I am trying to get some custom emoji's etc for items that we can display in a store(but I'll keep the store for build v1.1+)

[2020-11-02 09:21] sayand0122 commented on #8
So we already have a diceroll command... ok so
Now i was thinking we can have something they(people) can spend the currency(tears) on

For ex - a collection of emojis/surprise box that they need to buy with those tears

[2020-11-02 09:32] Vyvy-vi commented on #8
Yah badges and level-cards are a part of the plan but not rn
That'll be in build v1.1+ (we can implement this idea over there tho, after making the normal commands for now and adding badges.)
The problem with surprise boxes is that we'll need custom emojis in there.
Might have to make them... Then maybe find out how to get them onto bots(custom emoji issues/nitro?)

[2020-11-02 09:48] sayand0122 commented on #8
ok so this issue is for later but like when in v1.1+ release ... what i mean is when according to you will v1.0 end?

[2020-11-02 09:51] Vyvy-vi commented on #8
When we have like 3-4 casino commands and when all the current issues are closed.
https://github.com/Vyvy-vi/TearDrops/projects

[2020-11-02 10:21] Vyvy-vi commented on #47
@all-contributors add @nhcarrigan ideas docs

[2020-11-02 10:22] Vyvy-vi commented on #47
Nick's ISSUE set was used here as I found it fitting : )

[2020-11-02 18:12] #71 closed

[2020-11-03 08:03] Vyvy-vi commented on #47
@all-contributors add @MattIPv4 ideas

[2020-11-03 17:51] Vyvy-vi commented on #47
@all-contributors add @all-contributors docs

[2020-11-03 17:53] Vyvy-vi commented on #47
@all-contributors add @all-contributors docs

[2020-11-03 17:56] Vyvy-vi commented on #47
@all-contributors add @all-contributors docs

[2020-11-03 17:59] Vyvy-vi commented on #47
@all-contributors add @all-contributors docs

[2020-11-03 18:23] mikeysan commented on #15
I clone the project to give it a test run. The first thing I did was to run:
`pip install -r requirements.txt`

Everything installed fine, from what I can see but I got the following warning.
`ERROR: discord-py 1.5.1 has requirement aiohttp<3.7.0,>=3.6.0, but you'll have aiohttp 3.7.2 which is incompatible`

I should mention that I am on a Windows machine running Python via Anaconda 1.9.7.

If no

[2020-11-04 09:34] Vyvy-vi commented on #15
Yes, there are a few issues with running discord.py from a conda env.
We'll look into removing aiohttp from the `requirements.txt` file.

However, the bot just got dockerized, thus won't need to install any dependencies if run through docker.
For now, you can run the updated version of the project via docker, without having any issues using:
`docker-compose up -d`

[2020-11-04 20:00] Vyvy-vi commented on #64
@gamerrio Are you still working on this?
I saw that your version of the bot, gave output for the command.
So, if it's done, it would be nice if you made a PR.

[2020-11-05 03:28] sayand0122 commented on #16
Can you please elaborate this command?

[2020-11-05 05:48] Vyvy-vi commented on #16
basically this lets the user convert timezones
So, say I am in UTC and you are in UTC + 3
So, you need to just do-
qq time <current-time> <timezone> | <timezone to convert to>

[2020-11-05 05:54] sayand0122 commented on #16
ok...i will create a prototype of this👍🏻

[2020-11-06 12:23] Vyvy-vi opened #100 "[CHORE]: Make dictionary for quotes, rather than using lists"
# Chore Request:

The bot currently fetches inputs from the input.py file for the `qq quote` command.
Now, since we have embedded the command, we don't want it to look like this-
![Screenshot 2020-11-06 at 5 50 17 PM](https://user-images.githubusercontent.com/62864373/98365543-95f4ee80-2058-11eb-94f9-f92d44bd279b.png)
This doesn't look good.

## Work to be done:

Make a dictionary in the inputs.py

[2020-11-06 15:36] LazybuddyNK commented on #100
I would like to do this.

[2020-11-07 22:11] Vyvy-vi commented on #100
resolved by #101

[2020-11-07 22:11] #100 closed

[2020-11-07 22:25] Vyvy-vi opened #108 "[CHORE]: fix quote command embed"
# Chore Request

## The work:
The quotes are too long for the field.name(the limit is 256 chars.)
Put them in the value column and add a footer for the author, rather than quote in name and author in value.
This is an easy fix(up-for-grabs).

## Additional information
![Screenshot 2020-11-08 at 3 53 17 AM](https://user-images.githubusercontent.com/62864373/98452531-0d6c7000-2176-11eb-9dfc-9de0c4cb

[2020-11-07 22:42] Vyvy-vi opened #111 "[BUG]: Wiki Command Issues"
# Bug Report-->

## Describe the bug:
The bot wiki command often doesn't show results related to searched args.
Might need investigating.

## Expected behavior
print the wiki article for the search argument or give a list of recommendation

## Screenshots
![Screenshot 2020-11-08 at 4 11 40 AM](https://user-images.githubusercontent.com/62864373/98452795-88368a80-2178-11eb-927a-57422b7e4c8c.png)

##

[2020-11-07 23:03] Vyvy-vi commented on #64
Take your time 👍

[2020-11-07 23:04] Vyvy-vi commented on #16
What's the plan?
argument parsing using special characters or something else?(I'm curious to which all approaches can be taken for this)

[2020-11-08 01:49] IcemanEtika commented on #111
Hey, I'll work on this

[2020-11-08 05:18] sayand0122 commented on #16
Really sorry but my mids will be starting from tomorrow but i have an idea... i am thinking to use cogs for it... coz this itself is a lengthy thing to convert one timezone to another and the command will be as simple as --prefix "this utc" "that utc"-- and time will be fetched as current time.

[2020-11-08 08:14] #111 closed

[2020-11-08 08:17] Vyvy-vi commented on #16
No wories.
(this command isn't essential rn, so can wait a few weeks)

[2020-11-08 08:20] Vyvy-vi commented on #3
And prettify it.

[2020-11-08 19:54] Vyvy-vi opened #118 "[CHORE]: Add more quotes in inputs.py"
# Chore Request

## Describe the work:
It would be nice if we can increase the no. of quotes in our input file.
Alternatively, it would be nice to if someone can recommend a good quote API, which can be used.
Open for thoughts...

If someone does add quotes, you have to do so in the dictionary named as `quo`
and the quote has to be in this format:
`"quote": "Author"`

## Additional information

ht

[2020-11-08 20:03] Vyvy-vi opened #119 "[FEAT]: Improve levelling system algorithm"
# Feature Request:
Improve levelling logic

## Is your feature request related to a problem? Please describe:
The current xp system is kinda sketchy. Simple, made for testing. It would be better if we find a more fitting mathematical function to describe xp--> level.

**A request:**
This issue is still under discussion, so before making a pr, or working on it maybe we can discuss this on the disco

[2020-11-08 20:15] Vyvy-vi opened #120 "[IDEA]: API for getting book recommendations"
# Suggestion(IDEAS)

## Describe the IDEA

It would be great if we can fetch the Goodreads from a site using `requests` / `urllib` / `aiohttp`
This would ensure:
1- larger

## A small survey- (optional)

1- Would you like to work on this idea?
- [] Yes
- [] No
- [x] Either
2- Is this idea an original idea or something you have seen elsewhere?
- [x] It is original.
- [] No, I saw this somewhere.
-

[2020-11-08 20:38] Vyvy-vi opened #122 "[DOCS]: Add links to discord.py and python in req."
It would be good to link them as some contributors might not be familiar with them

[2020-11-08 20:44] Vyvy-vi commented on #122
huh

[2020-11-09 11:56] Vyvy-vi commented on #118
addressed in #104

[2020-11-10 04:48] AllanRegush opened #127 "[IDEA] Code Of Conduct"
# Suggestion(IDEAS)

## Describe the IDEA

Add Code Of Conduct

## A small survey- (optional)

1- Would you like to work on this idea?
- [x] Yes
- [ ] No

2- Is this idea an original idea or something you have seen elsewhere?
- [ ] It is original.
- [x] No, I saw this somewhere.
- [ ] Prefer not to say.

3- If you have seen this idea somewhere, can you state where?

Various opensource projects.

4

[2020-11-10 05:52] Vyvy-vi commented on #127
@all-contributors add @AllanRegush for docs, ideas

[2020-11-10 05:53] #127 closed

[2020-11-11 16:36] Vyvy-vi opened #132 "[BUG]"
# Bug Report

## Describe the bug

The `wannagrabacoffee` command is not working.
It seems to come from #82

## Expected behavior

respond with this:
![Screenshot 2020-11-11 at 10 02 56 PM](https://user-images.githubusercontent.com/62864373/98838011-ad254900-2469-11eb-92ad-cf94626a8908.png)

bugged response:
![Screenshot 2020-11-11 at 10 03 43 PM](https://user-images.githubusercontent.com/62864373

[2020-11-11 16:36] #132 closed

[2020-11-12 14:58] Vyvy-vi commented on #64
Shifting this to Build v1.1
Might make a release soon

[2020-11-12 18:29] AllanRegush opened #134 "[BUG] Suggestion Issue Template Checkbox"
# Bug Report

## Describe the bug
Changing the style of the checkboxes might help with readability.

- [] Yes
- [] No
## Expected behavior
- [ ] Yes
- [ ] No

[2020-11-12 18:58] Vyvy-vi commented on #134
Oh, that looks better 👍

[2020-11-12 19:00] #134 closed

[2020-11-14 07:10] Vyvy-vi opened #136 "[CHORE]: Merge modular branch into main"
# Chore Request

## Describe the work

The bot has been modularised in the `modular` branch.
We have to test the code, and make `modular` branch as main branch

[2020-11-15 16:16] Vyvy-vi opened #137 "[FEAT]: Make more advanced help command"
# Feature Request

## Is your feature request related to a problem? Please describe:
The current help command is kinda _meh_
1- there are no briefs setup in the code
2- no usage cases
3- no aliases
4- Brickwall if not using selective parsing

## Describe the solution you'd like

Still not sure.(under discussion)
We can maybe look at [default help modification](https://discordpy.readthedocs.io/en/l

[2020-11-15 16:41] Vyvy-vi opened #138 "[DOCS/IDEA]: Command listing automation"
## This might be a crazy idea
We can pick up the content of our `commands` and perhaps assign parameters to the command(using the `discord.py` commands class methods or by typing it out in the doc-strings with identifiers).
This would be linked with a GitHub Action, that reads that content and generates a .json file and uploads that to mongo perhaps and updates a .md file with the parsed content o

[2020-11-19 17:55] Vyvy-vi commented on #138
This idea stemmed from my thoughts on [`EddieBot`'s](https://github.com/EddieJaoudeCommunity/EddieBot) Help command

[2020-11-19 17:57] Vyvy-vi commented on #136
closed by 2f56e69

[2020-11-19 17:57] #136 closed

[2020-11-19 18:00] Vyvy-vi opened #141 "[FEAT]: Weather Command"
# Feature Request

## Is your feature request related to a problem? Please describe:

Not related to a problem
## Describe the solution you'd like
I wanted to have a weather command feature in the bot.
(It would be nice to be able to query weather with the bot from discord. Clearly a `utility` command, that might be useful in some situations)

## Additional context
Related to #14

[2020-11-21 08:00] Vyvy-vi opened #142 "[FEAT]: translate command"
# Feature Request

## Is your feature request related to a problem? Please describe:

Not related to a problem
## Describe the solution you'd like
I wanted to have a `translate` command feature in the bot.
(It would be nice to be able to query translations with the bot from discord. Clearly a `utility` command, that might be useful in many situations and help boost inclusivity)

## Additional cont

[2020-11-21 08:10] Vyvy-vi commented on #10
closed by #117

[2020-11-21 08:10] #10 closed

[2020-11-21 20:04] #142 closed

[2020-11-22 10:29] #141 closed

[2020-11-22 16:00] SKULLXL opened #145 "The error message of the translation command"
# Chore Request
## Describe the work
When u type `qq translate` the error message doesn't seem that need. It should be worked on.

the error message should be replaced with ```"That error message, should be replaced by Error wasn't able to translate, language not available"```

## Additional information

[2020-11-23 19:00] #137 closed

[2020-11-24 10:17] Vyvy-vi opened #147 "[IDEA]: New bot logo"
# Suggestion(IDEAS)

## Describe the IDEA

A new logo for the bot. Maybe something original.
The current one is a random cat pic, that I grabbed from my image files.

## A small survey- (optional)

1- Would you like to work on this idea?
- [x] Yes
- [ ] No

2- Is this idea an original idea or something you have seen elsewhere?
- [x] It is original.
- [ ] No, I saw this somewhere.
- [ ] Prefer not

[2020-11-24 11:15] Vyvy-vi opened #148 "[FEAT]: add Announce Command"
# Feature Request

## Is your feature request related to a problem? Please describe:

The current `say` and `echo` command, act as potential threats to the chat environment.
Thus, these will be replaced by an `announce` command, which would increase the utility of the bot.
These would be added in a new cog titled `Moderation`.

## Describe the solution you'd like

A new `announce` command
## Addit

[2020-11-24 11:16] #17 closed

[2020-11-24 11:19] Vyvy-vi commented on #148
@all-contributors add @nhcarrigan for ideas

[2020-11-24 11:52] Vyvy-vi opened #150 "[FEAT]: An `avatar` display command"
# Feature Request

## Is your feature request related to a problem? Please describe:

It would be nice to have an `avatar` command(mainly so that I can quickly grab TearDrop's avatar image lol)
This would also give us room to get into minor image-processing commands.(coming soon™️)
## Describe the solution you'd like

An avatar command.
Usage: `qq avatar <UserName/UserMention(discord.Member object

[2020-11-25 06:11] SKULLXL opened #151 "Wrong status in user command"
# Bug Report

## Describe the bug
The bug is in the new command `qq user` There the status shown is wrong. Tho i am in online mode it shows i am offline.

## Expected behavior
The status should have been shown as **online**

## Screenshots
![image](https://user-images.githubusercontent.com/68315325/100189859-5b73c880-2f17-11eb-887b-1f32a3baf86d.png)

## Additional information

[2020-11-25 07:57] Vyvy-vi commented on #151
@all-contributors add @SKULLXL for bugs

[2020-11-25 13:37] #151 closed

[2020-11-29 17:55] #150 closed

[2020-12-05 20:32] AkshayaKulasekaran opened #156 "[BUG] Broken Image in README.md"
# Bug Report

## Describe the bug

One of the images/gifs is broken. A screenshot of the same is attached below

## Screenshots

![image](https://user-images.githubusercontent.com/61582763/101262715-b2bf3780-3766-11eb-8de8-66bd74ab32f0.png)

## Additional information

I think it might be of an accidental newline in the README.md file

[2020-12-05 20:35] AkshayaKulasekaran commented on #156
Actually, it looks like it might have been deleted/moved:

<img src="https://user-images.githubusercontent.com/61582763/101262827-5dcff100-3767-11eb-9138-f67dff006d37.png" height="250px">

[2020-12-06 08:10] Vyvy-vi commented on #156
Thanks for the bug-report!

Which branch is that on?
that's strange 🤔
It works for me on the `main` branch

![Screenshot 2020-12-06 at 1 36 16 PM](https://user-images.githubusercontent.com/62864373/101274969-365d4080-37c8-11eb-8a34-26d0f8b93cba.png)

[2020-12-06 08:12] Vyvy-vi commented on #156
@all-contributors add @AkshayaKulasekaran for bugs

[2020-12-06 09:41] AkshayaKulasekaran commented on #156
@Vyvy-vi, looks like it's on the main branch. Maybe the site can't be accessed from specific locations?

Is it a picture? If so, you might want to upload a picture to a file or an issue and link it to that... If it's a gif you need to upload it as a file

[2020-12-06 19:15] mstanciu552 commented on #3
What exactly would you want to be changed in the documentation?
The style and structure or the actual information?

[2020-12-06 19:26] Vyvy-vi commented on #3
Both

[2020-12-06 19:38] #156 closed

[2020-12-06 19:42] Vyvy-vi commented on #156
Thank you for contributing to this project! 🎉

[2020-12-07 09:54] Vyvy-vi commented on #3
#162 addressed parts of this

[2020-12-07 10:07] Vyvy-vi commented on #156
Re-added the image via #164
Does it load properly now?

[2020-12-07 19:15] jveer634 opened #165 "[IDEA]: Add a feature to spend tears."
# Suggestion(IDEAS)

## Describe the IDEA

There is no opt available for spending the tears cried other than earning and transferring.
So, I propose an idea to implement some games which requires to use their tears either by betting or as an entry free.

## A small survey- (optional)

1- Would you like to work on this idea?
- [ ] Yes
- [ ] No

2- Is this idea an original idea or something you have

[2020-12-08 08:27] SKULLXL opened #166 "[FEAT]-Have custom-subreddit specification"
# Feature Request

## Is your feature request related to a problem? Please describe:
Most memes that you can get from the `qq meme` command are from r/me_irl

## Describe the solution you'd like
If we have a command to specify a subreddit or a command that can fetch memes from completely different subreddits it will be better.

## Additional context

[2020-12-08 11:37] Vyvy-vi commented on #165
We would work on this after `v1.1` 👍
Thank you for contributing to TearDrops!

[2020-12-08 12:35] mstanciu552 opened #168 "[DOCS] add section about how to contribute"
# Incorrect Documentation

## Describe the error

There is a [CONTRIBUTING.md](https://github.com/Vyvy-vi/TearDrops/blob/main/CONTRIBUTING.md), but it is very long and it describes guidelines and how to actually contribute.

## Expected information

I think we should add a concise description on how to contribute in README.md so that it could be seen when entering the repo and also a link to the [

[2020-12-08 16:43] Vyvy-vi commented on #168
This is very essential 👍
(The plan was to add a proper "`how to host the bot locally and contribute`" section inside the README, but that never got made). Would you like to work on this issue?

hmm this was supposed to be addressed in #3

[2020-12-08 17:36] mstanciu552 commented on #168
I will work on this.
Thank you very much.

[2020-12-08 18:17] Vyvy-vi commented on #166
this would be worked on 👍
Do you want to work on this?
It's sort of a simple fix

[2020-12-08 18:17] Vyvy-vi commented on #166
thanks for contributing to EddieBot

[2020-12-08 18:17] Vyvy-vi commented on #166
@all-contributors add @SKULLXL for ideas

[2020-12-09 08:16] #168 closed

[2020-12-09 11:52] Vyvy-vi commented on #3
@all-contributors add @dependabot for security

[2020-12-09 11:54] Vyvy-vi commented on #3
@all-contributors add @dependabot for security

[2020-12-10 06:35] jveer634 commented on #165
How about we add a trivia game?

[2020-12-10 08:31] Vyvy-vi commented on #165
hmm that could be done
not sure how the game makes ppl spend 💰
Would you like to work on that?

(Open a new issue for that, so that we can continue the conversation there)

[2020-12-10 08:46] jveer634 opened #175 "[FEAT] Trivia Game with bot"
# Feature Request

To spend tears cried.

## Describe the solution you'd like

We can add a trivia game using any online api so that there will be a way to spend our tears.

## Additional context

We could maintain a leader board or weekly once competition type so that to maintain some interest and competition within the users that are in the guild with some entry free ( 10 tears for example) to p

[2020-12-10 09:47] Vyvy-vi commented on #175
Great idea 👍
However, how do you propose the user spends `tears`?
Is it that they need to pay some 'X' amount for playing or is it that they need to pay to get hints?

[2020-12-10 17:10] AkshayaKulasekaran commented on #156
Yup, it's visible now 👍

[2020-12-10 17:44] jveer634 commented on #175
They need to spend tears to play..
Hints in the game may be or may not be possible all the times..

[2020-12-10 17:50] jveer634 commented on #175
And if possible we can even maintain categories for the game.. and different entry fee for the category.

[2020-12-10 17:56] Vyvy-vi commented on #175
🤔

[2020-12-10 17:57] jveer634 commented on #175
https://github.com/jgoralcz/trivia

Look at this repo for the questions..

[2020-12-10 17:59] Vyvy-vi commented on #175
I'm not sure if they host the API 24x7, also the API seems to be under development, rather than production
(using this might have un-intended consequences)

However, the API is interesting. (We could look for similar APIs and checkout one that is in production)

[2020-12-10 18:01] jveer634 commented on #175
Or we could build some api by ourself but the problem is to search for the questions and upload them frequently.. any idea to resolve that..??

[2020-12-10 18:04] Vyvy-vi commented on #175
I don't think building our own API is a good idea, since that would add another thing that we'll need to use and since things like those are already implemented, making one might be inefficient...

(We could make an API but that would become a sub-project by itself)
Moreover, we could just request data from trivia sites and get random questions every time. (that might resolve the similar questions

[2020-12-10 18:05] Vyvy-vi commented on #175
Perhaps we could use https://quizapi.io/
and make our own quiz sets and query them using their API ?

[2020-12-10 18:07] Vyvy-vi commented on #175
Alternatively, if we're making an API, I could just make anther db in our mongo cluster to hold the questions. (this would make the hosting part easier and we could just use Mongo's query calls to fetch the data, which would be faster)

[2020-12-10 19:50] jveer634 commented on #175
The quizapi fits fine..

[2020-12-10 20:55] Vyvy-vi commented on #175
Okay, for now we could use the quizapi 👍
Would you like to work on this?

About making our own API:
(I'll see if later on, we could use our own version, I think we could just use the pre-existing mongoAPI to fetch data that we put on there, rather than creating our own API)

[2020-12-11 03:20] jveer634 commented on #175
Yes.. I like work on that.. but after a week.

[2020-12-11 05:22] Vyvy-vi commented on #175
I have assigned this issue to you for now(so that someone else doesn't end up doing this, while you also work on it)

You could make your contributions in a week, no problem 👍  (tho, stale-bot might have an issue if no-activity for more than 3 weeks)

[2020-12-15 14:42] Vyvy-vi opened #177 "[BUG]: Issues with wolfram command..."
# Bug Report

## Describe the bug

The wolfram command Is giving unexpected errors.
However, since I had a plan of improving the command, maybe it would make sense to also rework the command while it's fixed.

Am I willing to work on this?:
- [x] yes
## Screenshots

![Screenshot 2020-12-15 at 8 10 17 PM](https://user-images.githubusercontent.com/62864373/102229266-9747ef80-3f11-11eb-9878-cc7011c6c

[2020-12-17 19:58] AkshayaKulasekaran commented on #175
I think this could be cool! Maybe you could tie it up with the quotes?

[2020-12-18 12:08] Vyvy-vi commented on #175
Tying it with quotes? 🤔
Sounds good! Could you extend, what you have in your mind?

[2020-12-26 07:55] Vyvy-vi commented on #64
Are you working on this issue, or should I unassign you?

[2020-12-26 15:44] sayand0122 commented on #64
currently i am not working on this issue

[2020-12-27 04:31] Vyvy-vi commented on #12
still needed

[2021-01-02 08:13] Vyvy-vi commented on #7
still needed :/

[2021-01-03 15:52] nhcarrigan commented on #47
Psst - you don't have to keep a global issue open for this. You can ping all contributors to add someone on the PR/issue they opened :)

[2021-01-03 16:46] Vyvy-vi commented on #47
(I kept this open to add contributors for ideas, but I think I'll add them with a new issue or something) :+1:

[2021-01-03 16:46] #47 closed

[2021-01-03 19:18] nhcarrigan commented on #47
Or encourage them to share their ideas as an issue/feature-request - that way you keep the discussion tied to your repository

[2021-01-06 07:21] Vyvy-vi commented on #64
@gamerrio you have been unassigned, since the period of response was too long
If you're still interested in contributing, you could ask and get re-assigned :+1:

[2021-01-19 09:35] Vyvy-vi commented on #14
fun commands are still needed stale-bot :C

[2021-01-25 09:39] #108 closed

[2021-01-25 13:03] Vyvy-vi opened #187 "[FEAT]- Add a colour class"
# Feature Request

## Is your feature request related to a problem? Please describe:

It would be easier to refer to similar colours throughout the code, if they're stored in constants.

## Describe the solution you'd like:

[code]

## Additional context

#186 already introduces such a class in the `utils.py` file.

[2021-01-25 17:01] #187 closed

[2021-01-25 17:18] AllanRegush opened #189 "[DOCS] Create pull request template"
As Per eddie's review - create an PR template

[2021-01-26 06:19] #189 closed

[2021-01-27 06:56] Vyvy-vi commented on #16
@sayand0122 Would you like to keep working on this issue?
If you're busy, I could clear your assignment

[2021-01-27 07:07] Vyvy-vi commented on #166
closed by 48f49f7

[2021-01-27 07:08] #166 closed

[2021-01-27 08:08] sayand0122 commented on #16
Yeah i am actually busy. So please clear out the assignment.

[2021-01-30 06:46] lakshya12345 commented on #120
@Vyvy-vi we can use google books api

[2021-01-30 14:41] Vyvy-vi commented on #120
We could use that, however, correct me if I am wrong, but Google Books API doesn't have a recommendation system(we'll have to make our own bookshelf), right?

What about something trimmed down like `goodreads`?

[2021-01-30 16:25] lakshya12345 commented on #120
@Vyvy-vi i want to ask you that i have started coding in python and html,css. i am currently in my 6th class. can you give me guidence how can i contribute in big projects

[2021-01-31 17:07] Vyvy-vi commented on #120
That's great-!
tbh, you don't need to contribute to big repos, to contribute to opensource. Mid-level or small projects that align with your thoughts, and you like would also be great to contribute to.

For starting out, you could make issues on big projects regarding perhaps issues with documentation or broken links/images in their files or in their README. You could also report about dependencie

[2021-01-31 23:47] eddiejaoude commented on #120
Thanks for the shoutout @Vyvy-vi 🤓

[2021-02-08 01:59] #119 closed

[2021-02-11 01:59] #14 closed

[2021-02-11 01:59] #138 closed

[2021-02-11 01:59] #8 closed

[2021-02-11 01:59] #12 closed

[2021-02-17 21:41] Vyvy-vi opened #197 "[DOCS]: Add a privacy policy"
# Incorrect Documentation

## Describe the error:

The bot does not contain a Privacy Policy, and discord requires any application (like this bot) that uses the API to have a Privacy policy.

## Expected information

![screenshot with details](https://media.discordapp.net/attachments/738541096098988072/811346252565708830/unknown.png?width=360&height=585)

## Additional information

Source: @nhcarr

[2021-03-03 12:13] Vyvy-vi commented on #145
This issue point to errors returned by the API:
![Screenshot 2021-03-03 at 12 13 22 PM](https://user-images.githubusercontent.com/62864373/109804171-f7fce380-7c47-11eb-9375-e98e5c1f4c65.png)

[2021-03-03 12:27] Vyvy-vi opened #199 "[CHORE] Rename cog files"
# Chore Request

## Describe the work

Rename the cog files in `bot/cogs` folder to type- `<function>` instead of `function_cog`
Eg: Rename `economy_cog.py`to `economy.py`

## Additional information

You would also have to update the names imported in the `bot/main.py` file.

https://github.com/Vyvy-vi/TearDrops/blob/5a11525abbad37de9dda9f31fc54a4c4682b5656/bot/main.py#L30-L43

[2021-03-03 12:40] kcoder63 commented on #145
Can I work on this issue? Could you tell me how to?

[2021-03-03 12:48] kcoder63 commented on #199
I would like to work on this

[2021-03-03 13:55] #199 closed

[2021-03-03 17:13] Vyvy-vi commented on #145
At first, I thought this might be simple to resolve.
Now, it seems like something is wrong with the library used for this.
I think we could make this library work for this purpose-
https://textblob.readthedocs.io/en/dev/api_reference.html?highlight=translate#textblob.blob.Sentence.translate

[2021-03-05 22:16] Vyvy-vi opened #216 "[FEAT] Switch to Motor(async pymongo wrapper)"
# Feature Request

## Is your feature request related to a problem? Please describe:

PyMongo is synchronous and hence Blocking in an async bot application.

## Describe the solution you'd like

Implementation of [Motor](https://motor.readthedocs.io/en/stable/) into the bot.

[2021-03-06 08:23] #197 closed

[2021-03-06 22:36] #216 closed

[2021-03-06 23:01] Vyvy-vi opened #219 "[CHORE]: Increase code Quality"
# Chore Request

## Describe the work

The current code quality reports from Sourcery seem to indicate that the code quality is more towards the poor side.
Code Quality could be increased by reducing method lengths and splitting them into more files.

## Additional information

![Screenshot 2021-03-06 at 11 00 51 PM](https://user-images.githubusercontent.com/62864373/110224002-ef353780-7efd-11eb-8

[2021-03-07 22:27] #219 closed

[2021-03-07 22:30] Vyvy-vi opened #224 "[CHORE]: sfw-ize bot"
# Chore Request

## Describe the work

plez.
## Additional information

._.

[2021-03-07 22:53] #224 closed

[2021-03-07 22:53] Vyvy-vi commented on #224
closed by #225

[2021-03-08 00:12] Vyvy-vi opened #226 "[CHORE]: Resolve inputs.py file"
# Chore Request

## Describe the work

Loading this file into the bot is not good for the memory.

## Additional information

Maybe mongo, or a secondary storage?

[2021-03-08 17:16] Vyvy-vi commented on #226
resolved by https://github.com/Vyvy-vi/TearDrops/commit/be0b44e6ae2d6f4a2cdb7df3176d82113bfbdd7f

[2021-03-08 17:16] #226 closed

[2021-03-12 06:08] #118 closed

[2021-03-12 06:42] Vyvy-vi opened #230 "[BUG]: cogs don't load in docker container"
# Bug Report

## Describe the bug

The cogs don't load in the docker container.
This is due to the use of glob(`./bot/cogs/*`)

## Expected behavior

Cogs load on bot start.

## Screenshots

## Additional information

[2021-03-12 07:12] #230 closed

[2021-03-15 02:13] #64 closed

[2021-03-16 17:19] Vyvy-vi opened #234 "[CHORE]: Implement Best Practices"
# Chore Request

## Describe the work:

Implement Best practices in the project, such as tests, a better solution for handling virtual env and dependencies, run integration test(cog loader) in a docker container. Implement type checking ci. Add logging.

## Additional information

Related to issue #15

[2021-03-28 11:25] Vyvy-vi commented on #147
I think the current logo can be kept :/
Maybe when we look at branding, new logo can be made

[2021-03-28 11:25] #147 closed

[2021-03-28 11:29] Vyvy-vi commented on #177
This can be closed, since 98960af deprecated the wolfram command

[2021-03-28 11:29] #177 closed

[2021-04-01 07:16] #234 closed

[2021-04-02 10:34] dependabot-preview[bot] opened #245 "Dependabot can't resolve your Python dependency files"
Dependabot can't resolve your Python dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/Vyvy-vi/update-logs/75072276).

[2021-04-04 23:38] mikeysan commented on #15
Is this ready for testing again?

[2021-04-05 10:36] #245 closed

[2021-04-05 10:36] dependabot-preview[bot] opened #247 "Dependabot can't resolve your Python dependency files"
Dependabot can't resolve your Python dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/Vyvy-vi/update-logs/75358815).

[2021-04-05 12:02] Vyvy-vi commented on #15
yes :)

[2021-04-06 20:42] #247 closed

[2021-04-10 01:52] #120 closed

[2021-04-16 01:53] #16 closed

[2021-05-11 02:29] #165 closed

[2021-05-11 02:29] #175 closed

[2021-05-11 02:29] #148 closed

[2021-05-11 02:30] nhcarrigan commented on #148
@Vyvy-vi Stalebot really wants to close this.

[2021-06-05 03:25] #11 closed

[2021-06-13 02:20] #15 closed